<h2>Power BI Embedded Demo {{myReports.length}}</h2>
<div>
    <h3>My reports</h3>
    <ul>
        <li *ngFor="let report of myReports">{{report.Name}}
            <button type="button" class="btn btn-outline-light" (click)="embedReport(report.Id)">{{report.Name}}</button>
        </li>
    </ul>
</div>
<div>
    <h3>My Dashboards</h3>
    <ul>
        <li *ngFor="let dashboard of myDashboards">{{dashboard.DisplayName}}
            <button type="button" class="btn btn-outline-light" (click)="embedDashboard(dashboard.Id)">{{dashboard.DisplayName}}</button>
        </li>
    </ul>
</div>
<div>
    <h3>My Tiles</h3>
    <ul>
        <li *ngFor="let tile of myTiles">{{tile.Title}}
            <button type="button" class="btn btn-outline-light" (click)="embedTile(tile.Id, tile.ReportId)">{{tile.Title}}</button>
        </li>
    </ul>
</div>
<div class="content">
    <div id="reportContainer">

    </div>
    <div id="dashboardContainer">

    </div>
    <div id="tileContainer">

    </div>
</div>